<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
            type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OmegaHKS.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OmegaHKS.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IBildirimService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            maxReceivedMessageSize="2147483647">
            <security mode="Transport"/>
          </binding>
          <binding name="BasicHttpBinding_IUrunService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            maxReceivedMessageSize="2147483647">
            <security mode="Transport"/>
          </binding>
          <binding name="BasicHttpBinding_IGenelService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            maxReceivedMessageSize="2147483647">
            <security mode="Transport"/>
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="https://hks.hal.gov.tr/WebServices/UrunService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUrunService" contract="UrunServiceReference.IUrunService" name="BasicHttpBinding_IUrunService"/>
            <endpoint address="https://hks.hal.gov.tr/WebServices/GenelService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGenelService" contract="GenelServiceReference.IGenelService" name="BasicHttpBinding_IGenelService"/>
            <endpoint address="https://hks.hal.gov.tr/WebServices/BildirimService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBildirimService" contract="BildirimServiceReference.IBildirimService"
                name="BasicHttpBinding_IBildirimService"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <OmegaHKS.Properties.Settings>
            <setting name="OracleDbIP" serializeAs="String">
                <value>SAMSUNG</value>
            </setting>
            <setting name="OracleDbSID" serializeAs="String">
                <value>OMEGA</value>
            </setting>
            <setting name="TempPassword" serializeAs="String">
                <value>BAGLAN</value>
            </setting>
            <setting name="TempUserID" serializeAs="String">
                <value>BAGLAN</value>
            </setting>
        </OmegaHKS.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <OmegaHKS.Properties.Settings>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value>Visual Studio 2013 Blue</value>
            </setting>
            <setting name="TempPlakaNo" serializeAs="String">
                <value>06AC698</value>
            </setting>
            <setting name="GelenReferansID" serializeAs="String">
                <value>37166</value>
            </setting>
        </OmegaHKS.Properties.Settings>
    </userSettings>
</configuration>
